################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exception 21-09/.vs
/Ex 22-09/.vs
/Ex 22-09/Classs and object/.vs
/Ex 22-09/Classs and object/Classs and object/obj
/Inheritance 23-09/ConsoleApp1/.vs
/Inheritance 23-09/ConsoleApp1/ConsoleApp1/bin/Debug/net10.0
/Inheritance 23-09/ConsoleApp1/ConsoleApp1/obj
/Inheritance 23-09/Inheritance/.vs/Inheritance.slnx
/Inheritance 23-09/oops/oops/.vs
/Inheritance 23-09/oops/oops/oops
/Inheritance 23-09/Inheritance/Inheritance/obj/Debug
/Polymorphism 24-09/Polymorphism/.vs
/Polymorphism 24-09/Polymorphism/Polymorphism/bin/Debug/net10.0
/Polymorphism 24-09/Polymorphism/Polymorphism/obj
/Polymorphism 24-09/The Smart Gadget Store/SmartGadgetStore/.vs/SmartGadgetStore.slnx
/Polymorphism 24-09/The Smart Gadget Store/The Alert Microservice/.vs
/Polymorphism 24-09/The Smart Gadget Store/The Alert Microservice/The Alert Microservice/obj
/Polymorphism 24-09/The Smart Gadget Store/SmartGadgetStore/SmartGadgetStore/obj
/Polymorphism 24-09/The Smart Gadget Store/SmartGadgetStore/.vs/ProjectEvaluation
/Task 26-09/---Task---/---Task---/bin/Debug/net10.0
/Task 26-09/---Task---/---Task---/obj
/Task 26-09/---Task---/.vs
/Task 26-09/Restaurant Ordering System/Restaurant Ordering System/Restaurant Ordering System/bin/Debug/net10.0
/Task 26-09/Restaurant Ordering System/Restaurant Ordering System/Restaurant Ordering System/obj
/Task 26-09/Restaurant Ordering System/Restaurant Ordering System/.vs/Restaurant Ordering System.slnx
/Ex 27-09/Video Game Enemy Spawner/.vs/Video Game Enemy Spawner.slnx
/Ex 27-09/Video Game Enemy Spawner/Video Game Enemy Spawner/bin/Debug/net10.0
/Ex 27-09/Video Game Enemy Spawner/Video Game Enemy Spawner/obj
/Linq 28-09/Bug Smasher Leaderboard/Bug Smasher Leaderboard/.vs/Bug Smasher Leaderboard.slnx
/Linq 28-09/Bug Smasher Leaderboard/Bug Smasher Leaderboard/Bug Smasher Leaderboard/bin/Debug/net10.0
/Linq 28-09/Bug Smasher Leaderboard/Bug Smasher Leaderboard/Bug Smasher Leaderboard/obj
/Linq 28-09/LINQ/.vs
/Linq 28-09/LINQ/LINQ/bin/Debug/net10.0
/Linq 28-09/Task-2/Gas Holder/.vs
/Linq 28-09/Task-2/Gas Holder/Gas Holder/bin/Debug/net10.0
/Linq 28-09/Task-2/Gas Holder/Gas Holder/obj
/Linq 28-09/LINQ/LINQ/obj
/Ex 29-09/Video Game Health System/.vs
/Ex 29-09/Video Game Health System/Video Game Health System/bin/Debug/net10.0
/Ex 29-09/Video Game Health System/Video Game Health System/obj
/Ex 29-09/Warehouse Logistics Dashboard/.vs
/Ex 29-09/Warehouse Logistics Dashboard/Warehouse Logistics Dashboard/bin/Debug/net10.0
/Ex 29-09/Warehouse Logistics Dashboard/Warehouse Logistics Dashboard/obj
/Ex 30-09/Food Delivery App/.vs
/Ex 30-09/Food Delivery App/Food Delivery App/bin/Debug/net10.0
/Ex 30-09/Food Delivery App/Food Delivery App/obj
/Ex 30-09/json file/.vs/json file.slnx
/Ex 30-09/json file/json file/bin/Debug/net10.0
/Ex 30-09/The E-Commerce Checkout/.vs
/Ex 30-09/The E-Commerce Checkout/The E-Commerce Checkout/obj
/Ex 30-09/The Non-Freezing Downloader/.vs
/Ex 30-09/The Non-Freezing Downloader/The Non-Freezing Downloader/obj
/Ex 30-09/The Smart Button/.vs
/Ex 30-09/The Smart Button/The Smart Button/obj
/Ex 30-09/The VIP Nightclub Filter/.vs
/Ex 30-09/The VIP Nightclub Filter/The VIP Nightclub Filter/obj
/Ex 30-09/The VIP Nightclub Filter/The VIP Nightclub Filter/bin/Debug/net10.0
/Ex 01-10/IT Support Ticket System/.vs/IT Support Ticket System.slnx
/Ex 01-10/IT Support Ticket System/IT Support Ticket System/bin/Debug/net10.0
/Ex 01-10/IT Support Ticket System/IT Support Ticket System/obj
/.vs/CopilotSnapshots/5B9FDF63E59FBE47B9D774B679287DFA
/Library Management System 05-10/Library Management System/.vs
/Library Management System 05-10/Library Management System/Library Management System/bin/Debug
/Library Management System 05-10/Library Management System/Library Management System/.vs
/Ex 06-10/Broadcast Messaging System/Broadcast Messaging System/.vs
/Ex 06-10/Broadcast Messaging System/Broadcast Messaging System/Broadcast Messaging System/bin/Debug
/Ex 06-10/Broadcast Messaging System/Broadcast Messaging System/Broadcast Messaging System/obj/Debug
