################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exception 21-09/.vs
/Ex 22-09/.vs
/Ex 22-09/Classs and object/.vs
/Ex 22-09/Classs and object/Classs and object/obj
/Inheritance 23-09/ConsoleApp1/.vs
/Inheritance 23-09/ConsoleApp1/ConsoleApp1/bin/Debug/net10.0
/Inheritance 23-09/ConsoleApp1/ConsoleApp1/obj
/Inheritance 23-09/Inheritance/.vs/Inheritance.slnx
/Inheritance 23-09/oops/oops/.vs
/Inheritance 23-09/oops/oops/oops
/Inheritance 23-09/Inheritance/Inheritance/obj/Debug
/Polymorphism 24-09/Polymorphism/.vs
/Polymorphism 24-09/Polymorphism/Polymorphism/bin/Debug/net10.0
/Polymorphism 24-09/Polymorphism/Polymorphism/obj
/Polymorphism 24-09/The Smart Gadget Store/SmartGadgetStore/.vs/SmartGadgetStore.slnx
/Polymorphism 24-09/The Smart Gadget Store/The Alert Microservice/.vs
/Polymorphism 24-09/The Smart Gadget Store/The Alert Microservice/The Alert Microservice/obj
/Polymorphism 24-09/The Smart Gadget Store/SmartGadgetStore/SmartGadgetStore/obj
