################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exception 21-09/.vs
/Ex 22-09/.vs
/Ex 22-09/Classs and object/.vs
/Ex 22-09/Classs and object/Classs and object/obj
